# Base API URL
#NEXT_PUBLIC_BASE_URL=https://booking-app-api-rzro.onrender.com/api
NEXT_PUBLIC_BASE_URL=http://localhost:8080/api

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA6Mk4yhJF6PB8eAD26TZzdVhxaJFAmXdo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=booking-notify-7cf1f.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=booking-notify-7cf1f
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=booking-notify-7cf1f.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=835722769802
NEXT_PUBLIC_FIREBASE_APP_ID=1:835722769802:web:e5f1433819b420804bc473
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4DLPW1HECY
NEXT_PUBLIC_FIREBASE_VAPID_KEY=https://bookinn-client.vercel.app/

# NextAuth
NEXTAUTH_URL=https://bookinn-client.vercel.app/
AUTH_SECRET=Xgmsyje+6MJ2cpvqMpN90oobspWfNDAh+CKXOElpz8s=

# Optional auth service secret (if used by your backend)
NEXT_PUBLIC_AUTH_SERVICE_SECRET=93a797b5e7036c09866a8f78c2c4eeb0

# Stripe (client)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
